.myslide {

    h2 {   position: center;
        padding-left: 150px;
    }
    p {
        position: center;
        padding-left: 300px;
    }
}

.banner-raw{
    .pagebuilder-poster-content
    {
        display: contents;


        button
        {
            color: black;
            text-decoration: underline;
        }
    }
}




